{% extends "base.html" %}

{% block title %}Lista de Turno{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1 class="turnosH1">Turnos</h1>
      {% if datos %}
				<p class="turnosStatus">{{datos.dato}}</p>
			{% endif %}
<table class="turnosTable">
    <tbody>
      <tr>
      <th scope="col">Fecha del Turno</th>
        <th scope="col">Hora del turno</th>
        <th scope="col">Nombre del paciente</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Link a la ficha del turno</th>
        <th scope="col">Acción</th>
      </tr>
      {% for turno in turnos %}
        <tr>
    
            <th> {{ turno.fecha_turno }}</th>
            <th> {{ turno.hora_turno }}</th>
            <th> {{ turno.nombre }}</th>
            <th> {{ turno.telefono }}</th>
            <th> {{ turno.email }}</th>
                
            <th> 
              <a href=/ficha?i={{ turno.id }}>Ficha de {{ turno.nombre }}</a>
            </th> 
            <th> 
              <button class="edit" type="button"  onclick="location.href='/edit?i={{ turno.id }}'">Edit</button>
              <button class="delete" type="button" onclick="location.href='/delete?i={{ turno.id }}'">Delete</button>
            </th>
        </tr>
        
      {% else %}
        <span>No hay turnos registradas</span>
      {% endfor %}
        
    </tbody>

</table>

{% endblock %}
