{% extends "base.html" %}

{% block title %}Crear Turno Nuevo{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1 class="turnoFormH1">{{datos.titulo}}</h1>
	{% if datos %}
		<p>{{datos.dato}}</p>
	{% endif %}
	<form class="turnoForm" enctype="multipart/form-data" action="/save?i={{ turno.id }}" method="POST">
	    <label for="nombre">Nombre: </label><input type="text" name="nombre" id="nombre" value='{{turno.nombre}}' required>
	    <label for="email">E-mail: </label><input type="email" name="email" id="email" value='{{turno.email}}' required>
	    <label for="tel">Teléfono: </label><input type="tel" name="tel" id="tel" value='{{turno.telefono}}'required>
	    <label for="edad">Edad: </label><input type="number" name="edad" id="edad" value='{{turno.edad}}' min="1" max="100">
	    <label for="calza">Talla de calzado: </label><input type="number" name="calza" id="calza" value='{{turno.talla}}' step ="1" min="20" max="45">
	    <label for="altura">Altura: </label><input type="range" min="0" max="350" step="1" name="altura" id="altura" value='{{turno.altura}}'>
	    <label for="nacim">Fecha de nacimiento: </label><input type="date" name="nacim" id="nacim" value='{{turno.fecha_nacimiento}}' required>
	    <label for="cpelo">Color de pelo: </label><input list="colorpelo" name="cpelo" id="cpelo" value='{{turno.color_pelo}}'>
	    <datalist id="colorpelo">
	            <option value="negro">
	            <option value="rubio">
	            <option value="marron">
	            <option value="pelirrojo">
	            <option value="blanco">
	    </datalist>
	    <label for="fechaturno">Fecha del Turno: </label><input type="date" name="fechaturno" id="fechaturno" value='{{turno.fecha_turno}}' required>
	    <label for="horaturno">Horario del turno: </label><input type="time" name="horaturno" id="horaturno" min="08:00:00" max="17:00:00" value='{{turno.hora_turno}}' step="900"><br>

		<!-- Subir imagen -->
	    <diagnostico-img>
			<h3>Subir imagen</h3>
			{% if datos %}
				<p>{{datos.imagen}}</p>
			{% endif %}
		{#  muestra image en el modificar
			{% if turno.imagen !='' %}
				<img class="img" src="data:image/jpg png;base64,{{ turno.imagen }}" />	
			{% endif %}
		#}
				<input type="file" src="data:image/jpg png;base64,{{ turno.imagen }}" accept="image/jpeg, image/png" name="imgSubida"><br>
    	</diagnostico-img>

	    <input type="submit" class="sendButton" value="Enviar">
	    <input type="reset" class="clearButton" value="Limpiar">

    </form>
{% endblock %}
